<%= simple_form_for(@financial_term) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :payer %>
    <%= f.input :payee %>
    <%= f.input :amount %>
    <%= f.input :frequency %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :escalation_rate %>
    <%= f.input :advance %>
    <%= f.input :deposit %>
    <%= f.association :contract %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
