<div class="row">
  <div class="form-inline">
    <%= form_tag contracts_path, method: :get, role: "sort" do %>
      <div class="form-group">
        <%= label_tag :sort, "Sort by Contract Type:", class: "form-label" %>
        <%= select_tag :sort, options_from_collection_for_select(ContractType.all, :id, :description), class: "form-control" %>
        <%= button_tag "<i class=\"fa fa-sort\"></i> Sort".html_safe, class: "btn btn-primary", type: :submit %>
      </div>
    <% end %>
  </div>
</div>


<div class="row">
  <% @contracts.each do |contract| %>
    <%= link_to contract do %>
      <div class="col-md-4">
        <div class="panel <%= conditional_div(contract.contract_type) %>">
          <div class="panel-heading">
            <div class="text-center">
              <b><%= contract.contract_name %></b> <br>
              <small><%= contract.description %></small>
            </div>
          </div>
          <div class="panel-body">
            <b>Objectives: </b> <%= truncate( contract.objectives , length: 100 ) %> <br>
            <b>Start Date: </b> <%= contract.start_date.try(:strftime, "%d %B %Y") %> <br>
            <b>End Date: </b> <%= contract.end_date.try(:strftime, "%d %B %Y") %> <br>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>