<div class="row">
  <% @contracts.each do |contract| %>
    <%= link_to contract do %>
      <div class="col-md-4">
        <div class="panel <%= conditional_div(contract.contract_type) %>">
          <div class="panel-heading">
            <div class="text-center">
              <b><%= contract.contract_name %></b> <br>
              <small><%= contract.description %></small>
            </div>
          </div>
          <div class="panel-body">
            <b>Objectives: </b> <%= truncate( contract.objectives , length: 100 ) %> <br>
            <b>Start Date: </b> <%= contract.start_date.try(:strftime, "%d %B %Y") %> <br>
            <b>End Date: </b> <%= contract.end_date.try(:strftime, "%d %B %Y") %> <br>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>