<div class="panel <%= conditional_div(@contract.contract_type) %>">
	<div class="panel-heading">
		<div class="text-center">
			<h1 class="panel-heading">
				<b><%= @contract.contract_name %></b> <br>
				<small><%= @contract.description %></small>
			</h1>
		</div>
	</div>
	<div class="panel-body">
		<div id="objectives">
			<div class="strike">
				<span><h3 class="text-center"><b>OBJECTIVES</b></h3></span>
			</div>

			<%= link_to 'Download Contract File <i class="fa fa-file-pdf-o"></i>'.html_safe, @contract.attachment_url, target: "_blank", class: "pull-right" %>
			<br>
			
			<div>
				<%= simple_format( @contract.objectives ) %>
			</div>
			<br>
			<div class="text-center">
				<b>BOR Confirmation Date: </b> <%= @contract.confirmation_date.try(:strftime, "%d %B %Y") %> <br>
				<b>BOR Approval Date: </b> <%= @contract.approval_date.try(:strftime, "%d %B %Y") %> <br>
				<b>Effective Start Date: </b> <%= @contract.start_date.try(:strftime, "%d %B %Y") %> <br> 
	        	<b>Effective End Date: </b> <%= @contract.end_date.try(:strftime, "%d %B %Y") %> 
	        </div>
        </div>

		<div id="parties">
			<div class="strike">
				<span><h3 class="text-center"><b>INVOLVED PARTIES</b></h3></span>
			</div>
	        <div class="row">
	        	<div class="col-md-1"></div>
	        	<div class="col-md-5">
	        		<div class="panel panel-danger">
	        			<div class="panel-heading text-center">
	        				<b class="panel-heading">University of the Philippines Parties</b>
	        			</div>
	        			<div class="panel-body">
	        				<% @parties.where(external: false).each do |party| %>
	        					<li><%= party.party_name %></li>
	        				<% end %>
	        			</div>
	        		</div>
	        	</div>
	        	<div class="col-md-5">
	        		<div class="panel panel-info">
	        			<div class="panel-heading text-center">
	        				<b class="panel-heading">External Parties</b>
	        			</div>
	        			<div class="panel-body">
	        				<% @parties.where(external: true).each do |party| %>
	        					<li><%= party.party_name %></li>
	        				<% end %>
	        			</div>
	        		</div>
	        	</div>
	        	<div class="col-md-1"></div>
	        </div>
	    </div>

	    <div id="financial_terms">
	        <div class="strike">
				<span><h3 class="text-center"><b>FINANCIAL TERMS OF THE CONTRACT</b></h3></span>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<b>Payer:</b> <%= @financial_term.payer if @financial_term.present? && @financial_term.payer.present? %> <br>
					<b>Payee:</b> <%= @financial_term.payee if @financial_term.present? && @financial_term.payee.present? %> <br>
					<b>Amount (PhP):</b> <%= number_with_precision( @financial_term.amount, precision: 2, delimiter: ',' ) if @financial_term.present? && @financial_term.amount.present? %> <br>
					<b>Frequency:</b> <%= @financial_term.frequency if @financial_term.present? && @financial_term.frequency.present? %>
				</div>
				<div class="col-md-5">
					<b>Start date:</b> <%= @financial_term.start_date.strftime("%d %B %Y") if @financial_term.present? && @financial_term.start_date.present? %> <br>
					<b>End date:</b> <%= @financial_term.end_date.strftime("%d %B %Y") if @financial_term.present? && @financial_term.end_date.present? %> <br>
					<b>Escalation rate:</b> <%= number_with_precision( @financial_term.escalation_rate, precision: 2, delimiter: ',' ) + "%" if @financial_term.present? && @financial_term.escalation_rate.present? %> <br>
					<b>Advance (PhP):</b> <%= number_with_precision( @financial_term.advance, precision: 2, delimiter: ',' ) if @financial_term.present? && @financial_term.advance.present? %> <br>
					<b>Deposit (PhP):</b> <%= number_with_precision( @financial_term.deposit, precision: 2, delimiter: ',' ) if @financial_term.present? && @financial_term.deposit.present? %>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>

		<div id="committees">
			<div class="strike">
				<span><h3 class="text-center"><b>COMMITTEES FORMED IN RELATION TO THE CONTRACT</b></h3></span>
			</div>

			<div class="row">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<% @committees.each do |committee| %>
						<div class="col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading-<%= committee.id %>">
									<h4 class="panel-title">
										<a role="button" data-toggle="collapse" data-parent="#accordion" href="#committee-<%= committee.id %>" aria-expanded="false" aria-controls="committee-<%= committee.id %>">
											<%= committee.committee_name %>
										</a>
									</h4>
								</div>
								<div id="committee-<%= committee.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-<%= committee.id %>">
									<div class="panel-body">
										<b>Responsibilities:</b>
										<%= simple_format(committee.responsibilities) %>

										<b>Members: </b><br>
										<% committee.committee_members.order("leader desc").each do |member| %>
											<li><%= member.member_name %> <%= icon("star", style: "color:#aca87c") if member.leader %></li>
										<% end %>
									</div>
								</div>
							</div>
						</div>
					<% end %>
				</div>
			</div>

		</div>

		<div id="physical_scope">
			<div class="strike">
				<span><h3 class="text-center"><b>PHYSICAL SCOPE OF THE CONTRACT</b></h3></span>
			</div>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<b>Complete Address of Space/Building Leased​:</b> <%= @physical_scope.address if @physical_scope.present? && @physical_scope.address.present? %> <br>
					<b>Boundaries​:</b> <%= simple_format(@physical_scope.boundaries) if @physical_scope.present? && @physical_scope.boundaries.present? %>
				</div>
				<div class="col-md-5">
					<b>Total Land Area​ (in square meters):</b> <%= number_with_precision( @physical_scope.land_area, precision: 2, delimiter: ',' ) if @physical_scope.present? && @physical_scope.land_area.present? %> <br>
					<b>Use of Premises:</b> <%= simple_format(@physical_scope.use_of_premises) if @physical_scope.present? && @physical_scope.use_of_premises.present? %>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
	</div>
</div>

<div class="pull-right">
	<%= link_to 'Edit', edit_contract_path(@contract) %> |
	<%= link_to 'Delete', @contract, method: :delete, data: { confirm: 'Are you sure?' } %> | 
	<%= link_to 'Back', "javascript:history.back()" %>
</div>

<!-- # Type of Contract​ (REQUIRED)​
#   Memorandum of Understanding​ (Option 1)​
#   Memorandum of Agreement​ (Option 2)​
#   Contract of Lease​ (Option 3)​
# Objectives of the Contract​ (REQUIRED) - expected input: text​
# Parties Involved​ (REQUIRED)​
# ​  Field: ​University of the Philippines (can be more than 1)
#   Indicate UP units involved​ - expected input: text​
#   External Parties
#   Indicate organizations (can be more than 1)​ - expected input: text​
# Start Date of Contract​ - REQUIRED - expected input: DD MMMM YYYY​
# End Date of Contract​ - REQUIRED - expected input: DD MMMM YYYY​
# Financial Terms​ - Ask User: Applicable or Not Applicable / Automatically required if Contract of Lease
#   Payment​ (REQUIRED if Applicable)​
#   Payer​​ - expected input - text 
#   Payee​ - expected input - text​
#   Amount (in PhP)​ - expected input - numeric value with two decimal places
#   Frequency​ - expected input - Options: Monthly, Semi-Annually, Annually, User Indicated Text ​
#   Start Date of Payment​ - expected input - DD MMMM YYYY​
#   End Date of Payment​ - expected input - DD MMMM YYYY​
#   Escalation Rate​ - expected input - numeric value​ in percent
#   Advance Payment​ - expected input - numeric value with two decimal places​
#   Security Deposit ​- expected input - numeric value with two decimal places​
# Committees/Groups Formed in relation to the Contract​ - As User: Applicable or Not Applicable​
#   Member of the Committee/Group and his/her Organization​​ (REQUIRED if Applicable)​ - multiple entries allowed - expected input: text
#   Leader of the Committee/Group and his/her Organization (REQUIRED if Applicable)​ - multiple entries allowed - expected input: text
#   Responsibilities of the Committee/Group​ (REQUIRED if Applicable)​ - multiple entries allowed - expected input: text
# Physical Scope of Contract - Ask User: Applicable or Not Applicable / Automatically required if Contract of Lease
#   Complete Address of Space/Building Leased​ - expected input: text​
#   Total Land Area​ (in square meters)- expected input: ​numeric value with two decimal places 
#   Boundaries​ - North: text input; South: text input; East: text input; West: text input​
#   Use of Premises ​- expected input: text​ -->