<!DOCTYPE html>
<html>
<head>
  <title>OVPD Contracts Database System</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %></head>
<body>
	<div class="container-fluid"><!-- container -->
		<div class="row"> <!-- row -->
			<div class="col-xs-2">
			</div>
			<div class="col-xs-8">
				<div class="panel panel-success">
					<div class="panel-heading text-center">
						<h1 class="panel-header"><b><%= link_to "OVPD Contracts Database", root_path %></b></h1>

						<%= render 'shared/search' %>
					</div>
				</div>
				<hr>
				<%= yield %>
			</div>
			<div class="col-xs-2">
			</div>
		</div>
	</div>
</body>
</html>
